<% include ../layouts/adminheader %>
<h2 class="page-title">Catgories</h2>
<a href="/admin/category/add" class="btn btn-primary">Add a Shopping Catergory</a>

<br><br>

<table class="table table-striped">

  <thead>
    <tr>
      <th>Category Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% categories.forEach(function(cat){ %>
      <tr>
        <th><%= cat.cattitle %></th>
        <th><a href="/admin/category/edit/<%= cat.slug %>">EDIT</a></th>
        <th><a class="confirmDelete" href="/admin/category/delete/<%= cat._id %>">DELETE</a></th>
      </tr>
      <% }) %>
  </tbody>
</table>
<% include ../layouts/adminfooter %>
